.countries {
  display: flex;
}

.countries-- first .country--brazil {
  order: 5;
}
/* Add your own CSS code below */
.countries-- first .country--brazil {
  order: -5;
}
.countries-- first .country--ethiopia {
  order: -3;
}
.countries-- first .country--croatia {
  order: -4;
}
.countries-- first .country--laos {
  order: -2;
}

.countries-- first .country--uganda {
  order: -1;
}
